<!doctype html>
<html lang="en">


<!-- home.html   -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Admin Panel</title>

    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json" />

    <!-- Favicons -->
    @* <link rel="apple-touch-icon" href="/assets/img/favicon180.png" sizes="180x180">
    <link rel="icon" href="/assets/img/favicon32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/img/favicon16.png" sizes="16x16" type="image/png"> *@

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="/assets/font/bootstrap-icons.css">

    <!-- nouislider CSS -->
    <link href="/assets/vendor/nouislider/nouislider.min.css" rel="stylesheet">

    <!-- swiper css -->
    <link rel="stylesheet" href="/assets/vendor/swiperjs-6.6.2/swiper-bundle.min.css">

    <!-- style css for this template -->
    <link href="/assets/css/style.css" rel="stylesheet" id="style">
    <style>
        .me{
            background-color: #e0e0e063;
padding: 30px;
border-radius: 15px;
        }
    </style>
</head>

<body class="body-scroll" data-page="home">

    <!-- loader section -->
    @* <div class="container-fluid loader-wrap">
        <div class="row h-100">
            <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center">
                <div class="loader-cube-wrap mx-auto">
                    <div class="loader-cube1 loader-cube"></div>
                    <div class="loader-cube2 loader-cube"></div>
                    <div class="loader-cube4 loader-cube"></div>
                    <div class="loader-cube3 loader-cube"></div>
                </div>
                <p>Let's Create Difference<br><strong>Please wait...</strong></p>
            </div>
        </div>
    </div> *@
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
  
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100 has-header has-footer">

        <!-- Header -->
        <header class="container-fluid header">
            <div class="row mt-3">
                <div class="col-auto align-self-center">
                    <a href="/home/main" class="btn btn-link  text-color-theme">
                        <i class="bi bi-house size-24"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                       
                        <h6 >Admin Panel <br></h6>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <a href="/home/index" class="link text-color-theme">
                        <i class="bi bi-person-circle size-22"></i>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">

          @RenderBody()
        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->

    <!-- Footer -->
    @* <footer class="footer">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">
                        <span>
                            <i class="nav-icon bi bi-house"></i>
                            <span class="nav-text">Home</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stats.html">
                        <span>
                            <i class="nav-icon bi bi-bar-chart-line"></i>
                            <span class="nav-text">Stats</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item center-item">
                    <a class="nav-link" href="cart.html">
                        <span>
                            <i class="nav-icon bi bi-bag"></i>
                            <span class="nav-text">Cart</span>
                            <span class="countercart">3</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="style.html">
                        <span>
                            <i class="nav-icon bi bi-palette"></i>
                            <span class="nav-text">Style</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="settings.html">
                        <span>
                            <i class="nav-icon bi bi-gear"></i>
                            <span class="nav-text">Settings</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer> *@
    <!-- Footer ends-->

    <!-- filter menu -->
    <div class="filter">
        <div class="card shadow h-100">
            <div class="card-header">
                <div class="row">
                    <div class="col align-self-center">
                        <h6 class="mb-0">Filter Criteria</h6>
                        <p class="text-opac">2154 products</p>
                    </div>
                    <div class="col-auto px-0">
                        <button class="btn btn-link text-danger filter-close">
                            <i class="bi bi-x size-22"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <div class="mb-4">
                    <h6>Select Range</h6>
                    <div id="rangeslider" class="mt-4"></div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" min="0" max="500" value="100" step="1" id="input-select">
                            <label for="input-select">Minimum</label>
                        </div>
                    </div>
                    <div class="col-auto align-self-center"> to </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" min="0" max="500" value="200" step="1" id="input-number">
                            <label for="input-number">Maximum</label>
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <select class="form-control" id="filtertype">
                        <option selected>Cloths</option>
                        <option>Electronics</option>
                        <option>Furniture</option>
                    </select>
                    <label for="filtertype">Select Shopping Type</label>
                </div>

                <div class="form-group floating-form-group active mb-4">
                    <h6 class="mb-3">Select Facilities</h6>

                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="men" checked>
                        <label class="form-check-label" for="men">Men</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="woman" checked>
                        <label class="form-check-label" for="woman">Women</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="Sport">
                        <label class="form-check-label" for="Sport">Sport</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="homedecor">
                        <label class="form-check-label" for="homedecor">Home Decor</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input type="checkbox" class="form-check-input" id="kidsplay">
                        <label class="form-check-label" for="kidsplay">Kid's Play</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Keyword">
                    <label for="input-select">Keyword</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-control" id="discount">
                        <option>10% </option>
                        <option>30%</option>
                        <option>50%</option>
                        <option>80%</option>
                    </select>
                    <label for="discount">Offer Discount</label>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-lg btn-default w-100 shadow-sm">Search</button>
            </div>
        </div>
    </div>
    <!-- filter menu ends-->

    <!-- event action toast messages -->
    <div class="position-fixed top-0 start-50 translate-middle-x p-3  z-index-999">
        <div id="toastprouctaddedtiny" class="toast bg-primary border-0 shadow hide mb-3" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-body">
                <div class="row">
                    <div class="col text-white">
                        <p>Your product has been added to cart</p>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="toastprouctadded" class="toast shadow hide mb-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto"><i class="bi bi-bag me-1"></i> Congtratulations!!!</strong>
                <small>Just Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <h6 class="mb-0">Your product has been added to cart</h6>
                <p class="text-opac">This position can be changed and applied as per desired location.</p>
            </div>
        </div>

        <div id="toastprouctaddedrich" class="toast border-0 shadow hide mb-3" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">
                    <i class="bi bi-basket text-color-theme rounded-circle me-1"></i>
                    Product added to cart
                </strong>
                <small>Just Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded page-bg p-2">
                            <img src="/assets/img/product2.png" alt="" class="mw-100">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6 class="mb-1 text-color-theme">Raybans Sunglasses</h6>
                        <p>
                            <span class="text-opac">Delivered on April 12</span>
                            <span class="float-end"><strong>$ 150</strong></span>
                        </p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="text-opac bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event action toast messages ends -->

    <!-- add cart modal -->
    <div class="modal fade" id="addproductcart" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content product border-0 shadow-sm">
                <figure class="text-center mb-0 px-5 py-3">
                    <img src="/assets/img/apple.png" alt="" class="mw-100">
                </figure>
                <div class="modal-body">
                    <p class="mb-1">
                        <small class="text-opac">Fresh</small>
                        <small class="float-end"><span class="text-opac">4.5</span> <i class="bi bi-star-fill text-warning"></i></small>
                    </p>
                    <a href="product.html" class="text-normal">
                        <h6 class="text-color-theme">Red Apple</h6>
                    </a>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">$12.00<br><small class="text-opac">per 1 kg</small></p>
                        </div>
                        <div class="col-auto">
                            <!-- button counter increamenter-->
                            <div class="counter-number">
                                <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                    <i class="bi bi-dash size-22"></i>
                                </button>
                                <span>1</span>
                                <button class="btn btn-sm avatar avatar-30 p-0 rounded-circle">
                                    <i class="bi bi-plus size-22"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-link text-color-theme" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    <!-- add cart modal ends -->

    <!-- PWA app install toast message -->
    <div class="position-fixed bottom-0 start-50 translate-middle-x  z-index-9">
        @* <div class="toast mb-3" role="alert" aria-live="assertive" aria-atomic="true" id="toastinstall"
            data-bs-animation="true">
            <div class="toast-header">
                <img src="/assets/img/favicon32.png" class="rounded me-2" alt="...">
                <strong class="me-auto">Install PWA App</strong>
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div> *@
            @* <div class="toast-body">
                <div class="row">
                    <div class="col">
                        Click "Install" to install PWA app and experience as indepedent app.
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn-default btn btn-sm" id="addtohome">Install</button>
                    </div>
                </div>
            </div> *@
        </div>
    </div>


    <!-- Required jquery and libraries -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- cookie js -->
    <script src="/assets/js/jquery.cookie.js"></script>

    <!-- PWA app service registration and works -->
    <script src="/assets/js/pwa-services.js"></script>

    <!-- swiper script -->
    <script src="/assets/vendor/swiperjs-6.6.2/swiper-bundle.min.js"></script>

    <!-- nouislider js -->
    <script src="/assets/vendor/nouislider/nouislider.min.js"></script>

    <!-- Customized jquery file  -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/color-scheme.js"></script>

    <!-- page level custom script -->
    <script src="/assets/js/app.js"></script>
   

</body>


<!-- home.html  17:21:14 GMT -->
</html>