 <!-- search -->
       

            <div class="swiper-container offerslides mb-3">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="card shadow-sm ">
                            <div class="card-body py-1">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/assets/img/Banner.png" alt="" class="mw-100" >
                                    </div>
                                    <div class="col text-start align-self-center ps-0">
                                        <h5 class="fw-normal mb-0"> ِDoctors</h5>
                                        <h2 class="mt-1">50</h2>
                                       
                                            <a href="" class="text-black" style="text-decoration:none"> <span> View all  </span></a>
                                           
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="swiper-slide">
                        <div class="card shadow-sm ">
                            <div class="card-body py-1">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/assets/img/Banner3.png" alt="" class="mw-100" >
                                    </div>
                                    <div class="col text-start align-self-center ps-0">
                                        <h5 class="fw-normal mb-0"> ِQuestionnaires</h5>
                                        <h2 class="mt-1">50</h2>
                                       
                                            <a href="" class="text-black" style="text-decoration:none"> <span> View all  </span></a>
                                           
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="swiper-slide">
                        <div class="card shadow-sm ">
                            <div class="card-body py-1">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/assets/img/Banner2.png" alt="" class="mw-100" >
                                    </div>
                                    <div class="col text-start align-self-center ps-0">
                                        <h6 class="fw-normal mb-0">Users </h6>
                                        <h2 class="mt-1">50</h2>
                                       
                                            <a href="" class="text-black" style="text-decoration:none"> <span> View all  </span></a>
                                           
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination pagination-offerslides"></div>
            </div>

            <!-- Products -->
            <div class="row mb-3">
                <div class="col">
                    <h5 class="mb-0">processes</h5>
                </div>
               
            </div>

            <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm product mb-4">
                        <div class="card-body">
                            <figure class="text-center">
                                <img src="/assets/img/product1.png" alt="" style="width: 100px;">
                            </figure>
                            <p class="mb-1">
                                <small class="text-opac">Doctor</small>
                                <small class="float-end"><span class="text-opac">50</span> <i class="bi bi-star-fill text-warning"></i></small>
                            </p>
                            <a href="/doctor/adddoctor" class="text-normal">

                               
                                      <h6 class="text-color-theme">Add Doctors</h6>
                               
                            </a>

                             <a href="/doctor/listdoctor" class="text-normal">

                               
                                      <h6 class="text-color-theme">List Doctors</h6>
                               
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm product mb-4">
                        <div class="card-body">
                            <figure class="text-center">
                                <img src="/assets/img/product2.png" alt="" style="width: 120px;">
                            </figure>
                            <p class="mb-1">
                                <small class="text-opac">Questions</small>
                                <small class="float-end"><span class="text-opac">50</span> <i class="bi bi-star-fill text-warning"></i></small>
                            </p>
                            <a href="/question/index" class="text-normal">
                                <h6 class="text-color-theme">Add Question</h6>
                            </a>
                              <a href="product.html" class="text-normal">
                                <h6 class="text-color-theme">List Question</h6>
                            </a>
                           
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm product mb-4">
                        <div class="card-body">
                            <figure class="text-center">
                                <img src="/assets/img/product3.png" alt="" style="width: 110px;">
                            </figure>
                            <p class="mb-1">
                                <small class="text-opac">Join </small>
                                <small class="float-end"><span class="text-opac">50</span> <i class="bi bi-star-fill text-warning"></i></small>
                            </p>
                            <a href="product.html" class="text-normal">
                                <h6 class="text-color-theme">Add Join</h6>
                            </a>

                            <a href="product.html" class="text-normal">
                                <h6 class="text-color-theme">List Join</h6>
                            </a>
                         

                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm product mb-4">
                        <div class="card-body">
                            <figure class="text-center">
                                <img src="/assets/img/product4.png" alt="" style="width: 110px;">
                            </figure>
                            <p class="mb-1">
                                <small class="text-opac">users</small>
                                <small class="float-end"><span class="text-opac">50</span> <i class="bi bi-star-fill text-warning"></i></small>
                            </p>
                            <a href="product.html" class="text-normal">
                                <h6 class="text-color-theme">Add users</h6>
                            </a>
                             <a href="product.html" class="text-normal">
                                <h6 class="text-color-theme">List users</h6>
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>

          